In [ ]:
import numpy as np
import pandas as pd

In [ ]:
data = pd.read_csv('/content/drive/MyDrive/sports dataset/results.csv')

Checking is there any missing values in the given data set . we do not have any missing values

In [ ]:
data.isnull().sum()

SeasonID      0
Gameweek      0
MatchID       0
HomeTeamID    0
HomeScore     0
HomeShots     0
AwayTeamID    0
AwayScore     0
AwayShots     0
dtype: int64



```
# This is formatted as code
```

IT contains 2 seasons already seasonID 1,2. i was asked to determine the winner of season 1. so dropping season id 2

In [ ]:
data1 = data.drop(data[data.SeasonID >1].index)
data1

,SeasonID,Gameweek,MatchID,HomeTeamID,HomeScore,HomeShots,AwayTeamID,AwayScore,AwayShots
0,1,1,1,7,1,17,1,1,12
1,1,1,2,6,1,8,8,3,17
2,1,1,3,5,5,21,9,1,7
3,1,1,4,4,2,25,10,0,8
4,1,1,5,3,3,13,11,3,19
...,...,...,...,...,...,...,...,...,...
751,1,54,752,17,1,15,26,2,9
752,1,54,753,18,2,12,25,0,9
753,1,54,754,19,3,21,24,1,6
754,1,54,755,20,0,8,23,2,6
755,1,54,756,21,1,21,22,0,12

In the below code i created columns for the each teamid

In [ ]:
team_ids_list = list(set(data1['HomeTeamID'].tolist()))
for each_team_id in team_ids_list:
  data1[each_team_id]=0
data1.head(5)

,SeasonID,Gameweek,MatchID,HomeTeamID,HomeScore,HomeShots,AwayTeamID,AwayScore,AwayShots,1,...,19,20,21,22,23,24,25,26,27,28
0,1,1,1,7,1,17,1,1,12,0,...,0,0,0,0,0,0,0,0,0,0
1,1,1,2,6,1,8,8,3,17,0,...,0,0,0,0,0,0,0,0,0,0
2,1,1,3,5,5,21,9,1,7,0,...,0,0,0,0,0,0,0,0,0,0
3,1,1,4,4,2,25,10,0,8,0,...,0,0,0,0,0,0,0,0,0,0
4,1,1,5,3,3,13,11,3,19,0,...,0,0,0,0,0,0,0,0,0,0

assigning 3 points to the team which won the match and assigning 1 point for the draw

In [ ]:
def cal_points(row):
  if row['HomeScore']> row['AwayScore']:
    row[row['HomeTeamID']]+=3
  elif row['HomeScore']< row['AwayScore']:
    row[row['AwayTeamID']]+=3
  else:
    row[row['HomeTeamID']]+=1
    row[row['AwayTeamID']]+=1
  
  return row

data1= data1.apply(cal_points,axis=1)
data1.head(10)

,SeasonID,Gameweek,MatchID,HomeTeamID,HomeScore,HomeShots,AwayTeamID,AwayScore,AwayShots,1,...,19,20,21,22,23,24,25,26,27,28
0,1,1,1,7,1,17,1,1,12,1,...,0,0,0,0,0,0,0,0,0,0
1,1,1,2,6,1,8,8,3,17,0,...,0,0,0,0,0,0,0,0,0,0
2,1,1,3,5,5,21,9,1,7,0,...,0,0,0,0,0,0,0,0,0,0
3,1,1,4,4,2,25,10,0,8,0,...,0,0,0,0,0,0,0,0,0,0
4,1,1,5,3,3,13,11,3,19,0,...,0,0,0,0,0,0,0,0,0,0
5,1,1,6,2,2,11,12,1,20,0,...,0,0,0,0,0,0,0,0,0,0
6,1,1,7,28,1,18,13,1,11,0,...,0,0,0,0,0,0,0,0,0,1
7,1,1,8,27,3,17,14,1,7,0,...,0,0,0,0,0,0,0,0,3,0
8,1,1,9,26,0,4,15,2,30,0,...,0,0,0,0,0,0,0,0,0,0
9,1,1,10,25,0,8,16,0,13,0,...,0,0,0,0,0,0,1,0,0,0

In [ ]:
groupby_agg = {id_: 'sum' for id_ in team_ids_list}
groupby_agg

{1: 'sum',
 2: 'sum',
 3: 'sum',
 4: 'sum',
 5: 'sum',
 6: 'sum',
 7: 'sum',
 8: 'sum',
 9: 'sum',
 10: 'sum',
 11: 'sum',
 12: 'sum',
 13: 'sum',
 14: 'sum',
 15: 'sum',
 16: 'sum',
 17: 'sum',
 18: 'sum',
 19: 'sum',
 20: 'sum',
 21: 'sum',
 22: 'sum',
 23: 'sum',
 24: 'sum',
 25: 'sum',
 26: 'sum',
 27: 'sum',
 28: 'sum'}

grouping the game week and summing the match points .

In [ ]:
df_gameweek = data1.groupby(['Gameweek']).agg(groupby_agg).reset_index()
df_gameweek = df_gameweek.set_index('Gameweek')
df_gameweek.head(10)

,1,2,3,4,5,6,7,8,9,10,...,19,20,21,22,23,24,25,26,27,28
Gameweek,,,,,,,,,,,,,,,,,,,,,
1,1,3,1,3,3,0,1,3,0,0,...,3,1,1,0,0,3,1,0,3,1
2,3,0,0,1,0,3,0,1,0,1,...,3,1,1,3,1,3,0,3,1,3
3,3,1,1,1,0,3,0,0,3,0,...,1,1,1,3,0,3,0,0,3,0
4,1,0,1,1,3,3,3,0,0,0,...,0,0,0,1,1,3,3,0,3,0
5,3,0,1,3,0,3,3,3,1,0,...,3,1,0,0,0,3,0,1,3,0
6,1,0,0,0,1,3,3,3,0,0,...,3,0,3,0,0,1,0,0,3,3
7,3,0,3,3,0,1,3,3,0,0,...,3,0,3,3,3,0,0,1,3,0
8,3,1,0,1,0,3,0,3,0,0,...,3,0,0,0,3,3,3,0,1,3
9,1,0,0,1,3,3,1,3,3,3,...,3,0,3,0,0,1,0,0,0,1
10,0,1,3,1,1,0,3,3,3,0,...,1,0,1,1,3,1,1,3,1,0

creating a cummilative sum for the match weeks

In [ ]:
df_gw_cum = df_gameweek.cumsum(axis = 0)
df_gw_cum.tail(10)

,1,2,3,4,5,6,7,8,9,10,...,19,20,21,22,23,24,25,26,27,28
Gameweek,,,,,,,,,,,,,,,,,,,,,
45,63,26,49,96,82,84,81,103,49,31,...,94,21,80,67,64,82,27,31,86,67
46,64,29,49,99,85,87,81,106,49,31,...,94,21,81,70,67,85,27,31,86,67
47,67,29,49,102,88,87,84,109,49,31,...,97,21,81,70,70,88,27,31,89,67
48,70,30,52,105,91,90,84,112,49,31,...,100,21,84,70,70,88,27,32,89,70
49,73,30,52,108,94,93,85,115,49,31,...,103,21,85,70,70,91,30,33,92,70
50,73,31,52,111,94,93,88,115,52,31,...,106,21,88,73,70,94,31,34,95,71
51,76,31,52,111,97,96,91,118,52,34,...,107,21,89,76,73,94,31,34,98,71
52,76,31,53,114,100,99,92,121,52,34,...,107,21,90,79,74,94,34,34,101,72
53,76,32,56,114,103,102,92,124,52,35,...,110,21,93,82,77,94,34,34,102,72
54,77,32,56,117,106,105,95,125,52,35,...,113,21,96,82,80,94,34,37,105,72

In [ ]:
df_gw_cum

In [ ]:

teams = pd.read_csv('/content/drive/MyDrive/sports dataset/teams.csv')
teams

            TeamName  TeamID
0          Arlington       1
1            Anaheim       2
2            Atlanta       3
3          Baltimore       4
4             Boston       5
5          Chicago B       6
6          Chicago H       7
7         Cincinnati       8
8   Cleveland Queens       9
9             Denver      10
10           Detroit      11
11           Houston      12
12       Kansas City      13
13       Los Angeles      14
14             Miami      15
15         Milwaukee      16
16       Minneapolis      17
17          Montreal      18
18        New York S      19
19        New York C      20
20           Oakland      21
21      Philadelphia      22
22        Pittsburgh      23
23         St. Louis      24
24         San Diego      25
25     San Francisco      26
26           Seattle      27
27           Toronto      28

The winner of the leauge in season 1 is ID 15 which is miami

by using this logic we can determine at what stage the title is secured by the winning team 
points( a/ gw p) - points( b/ gw p ) > ( 54 - gw ) * 3 the a team  won at that match week definetly

In [ ]:
from collections import Counter
N = 54
def find_winner_by_gw(row):
  gw = Counter(dict(row))
  game_week_num = row.name
  most_common = gw.most_common(2)
  most_common_keys = [key for key, val in most_common]
  a = row[most_common_keys[0]]
  b = row[most_common_keys[1]]
  dif = a-b
  max_points = (54-game_week_num)*3
  if dif > max_points :
    row['gw_winner'] = True
  else:
    row['gw_winner'] = False

  return row

  

res = df_gw_cum.apply(find_winner_by_gw,axis=1)
res.tail(10)

,1,2,3,4,5,6,7,8,9,10,...,20,21,22,23,24,25,26,27,28,gw_winner
Gameweek,,,,,,,,,,,,,,,,,,,,,
45,63,26,49,96,82,84,81,103,49,31,...,21,80,67,64,82,27,31,86,67,0
46,64,29,49,99,85,87,81,106,49,31,...,21,81,70,67,85,27,31,86,67,0
47,67,29,49,102,88,87,84,109,49,31,...,21,81,70,70,88,27,31,89,67,0
48,70,30,52,105,91,90,84,112,49,31,...,21,84,70,70,88,27,32,89,70,0
49,73,30,52,108,94,93,85,115,49,31,...,21,85,70,70,91,30,33,92,70,0
50,73,31,52,111,94,93,88,115,52,31,...,21,88,73,70,94,31,34,95,71,1
51,76,31,52,111,97,96,91,118,52,34,...,21,89,76,73,94,31,34,98,71,1
52,76,31,53,114,100,99,92,121,52,34,...,21,90,79,74,94,34,34,101,72,1
53,76,32,56,114,103,102,92,124,52,35,...,21,93,82,77,94,34,34,102,72,1
54,77,32,56,117,106,105,95,125,52,35,...,21,96,82,80,94,34,37,105,72,1

In [ ]:
res_gw = res[res['gw_winner']==1]
print( res_gw.index.to_list()[0])

50

At 50th match week the team miami won the title

code for biggest upset of the season

In [ ]:
d1 = pd.read_csv('/content/drive/MyDrive/sports dataset/odds.csv')
results = pd.read_csv('/content/drive/MyDrive/sports dataset/results.csv')

In [ ]:
d1['gd'] = abs(results['HomeScore']- results['AwayScore'])
d1['Homeid'] = results['HomeTeamID']
d1['Awayid'] = results['AwayTeamID']
d1['homescore'] = results['HomeScore']
d1['awayscore'] = results['AwayScore']
d1

      MatchID   Home   Draw   Away  gd  Homeid  Awayid  homescore  awayscore
0           1   1.92   3.96   3.89   0       7       1          1          1
1           2   2.16   3.88   3.23   2       6       8          1          3
2           3   1.21   7.65  13.17   4       5       9          5          1
3           4   1.05  17.00  43.49   2       4      10          2          0
4           5   3.12   3.60   2.32   0       3      11          3          3
...       ...    ...    ...    ...  ..     ...     ...        ...        ...
1507     1508  14.16   8.84   1.18   6      10      19          0          6
1508     1509   1.68   4.00   5.42   3      11      18          5          2
1509     1510   5.13   4.56   1.62   0      12      17          3          3
1510     1511   1.35   5.84   8.28   4      13      16          5          1
1511     1512  10.62   7.05   1.26   2      14      15          0          2

[1512 rows x 9 columns]

one way of finding out the biggest upset match is finding out the goal diffrence the matches with big goal differnce and chances of winning for both teams is almost equal.

I have added the home id and away id to the odds data set and i also have added the gd. considering home team

In [ ]:

d2 = d1.loc[d1['gd']>4]
d2

      MatchID   Home   Draw    Away  gd  Homeid  Awayid  homescore  awayscore
49         50  15.47   8.30    1.18   6      20       6          0          6
61         62   1.39   5.31    8.05   5       6      23          5          0
73         74   1.03  22.21   76.58   5       8       2          5          0
104       105  18.76   8.57    1.16   5       3      15          0          5
124       125   1.19   7.54   17.00   5      19      16          5          0
...       ...    ...    ...     ...  ..     ...     ...        ...        ...
1349     1350   1.05  18.43   50.45   5      27      10          6          1
1464     1465   1.01  32.04  108.16   6      15      26          7          1
1471     1472   1.20   8.31   13.52   5      15      13          5          0
1488     1489   1.11  10.35   29.56   7       8      16          8          1
1507     1508  14.16   8.84    1.18   6      10      19          0          6

[72 rows x 9 columns]

the above is the table of matches which have goal difference more than 5 which can be considered as big difference. team which has the low odds is most likely to win the match . and if the goals scored by that team then it is not a dissapointment or it is expected result.

from the above table the match number 465 the home and away odds ratio is almost equal i.e home- 1.95 away-3.50 but the home team won with a margin of 6 goals so the gd is bigger wrt to the other teams and the score margins

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive